/* add your styling here */
body {
  background-color: green;
}
h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;

  color: white;
}

#bookList {
  background-color: black;
  width: 50%;
  height: 50%;
  text-align: center;

  color: white;
}

ul {
  box-sizing: border-box;
  margin: 10px;
}

li {
  display: block;
  margin: 50px;
  padding: 1px;
  width: calc(50% - 120px);
  min-width: 500px;
  height: 600px;
  float: left;
  background-color: grey;
  box-shadow: black, 100px;
  border: 2px solid;
  border-radius: 5px;
}

img {
  width: 70px;
}
